# Container engine: docker | podman (./manage.sh install will prompt)
CONTAINER_ENGINE=docker

TZ=America/New_York
HTTP_PORT=80
ALLOW_INTERNAL_REQUESTS=true
# Public URL browsers use to reach Heimdall (useful behind a reverse proxy)
APP_URL=http://localhost
